

<div class="titulo_register">
	<p class="lead">Open a new account! :) </p>
</div>
<%= form_for @user do |f| %>
	<span class="input input--minoru">
	<%= f.text_field :name, required: true, class: "input__field input__field--yoko" , id: "input-16" %>
	<label class="input__label input__label--yoko" for="user_name">
		<span class="input__label-content input__label-content--yoko">Name</span>
		</label>
	</span>

	<span class="input input--minoru">
  <%= f.text_field :email, required: true, class: "input__field input__field--yoko" , id: "input-16" %>
  <label class="input__label input__label--yoko" for="user_email">
		<span class="input__label-content input__label-content--yoko">Email</span>
		</label>
	</span>
	
	<span class="input input--minoru">
  <%= f.password_field :password, required: true, class: "input__field input__field--yoko" , id: "input-16" %>
   <label class="input__label input__label--yoko" for="user_password">
		<span class="input__label-content input__label-content--yoko">Password</span>
		</label>
	</span>

<%= f.submit("Register", class: "btn_1 btn-6 btn-6a") %>



<% end %>
<div class="clearfix"></div>