<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <title>NowWhat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<!-- HEADER  -->


	<body>

	<header class="header cat">
		<nav class="navbar navbar-default">
			<div class="container container-fluid">

				<div class="navbar-header">
					<%= link_to image_tag('now_what.png', class: 'logo_class'), root_path %>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-right cl-effect-3">
				<li><%= link_to "Home", root_path, class: "btn bt-link b_header" %></li>
				<li><%= link_to "Categories", categories_path, class: "btn bt-link b_header" %></li>
				
				<%if current_user%>
				  <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
				    <ul class="dropdown-menu" role="menu">
				      <li><%= link_to( current_user.name, user_path(current_user.id))%></li>
				      <li class="divider"></li>
				      <li><%= link_to 'Logout', logout_path,  method: :delete %></li>
				    </ul>
				<%else%>

					<li><a href="#" class="btn b_login" id="myLogin" data-toggle="modal" data-target="#my_modal">Login</a></li>

				<% end -%>

				  </li>
				</ul>
					
				</div>
			</div>
		</nav>
	</header>




		  


	<%= yield %>

	<div class="modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
	  <div class="modal-dialog text-center">
	    <div class="modal-content ">
	      <div class="modal-header">
	        <h4 class="modal-title">Hi! welcome back :) </h4>
	      </div>
	      <div class="modal-body"> 
	        <%= render "users/login_form" %> 
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
		
<!-- //MODAL  -->
	

	<!-- //FOOTER  -->	


	<div class="clearfix"></div>
		<footer class="footer">
			<div class="container col-sm-10 col-sm-offset-1 text-center">
				<div class="row">

					<ul class="list-inline">
					<% @categories.each do |category| %>
						<li><%= link_to category.name, category_path(category.id), class: "footer_color" %></li>
					  <%end%>	
					</ul>
					

				</div>
			</div>
		</footer>
<!-- 	</div>
 -->	<!-- //FOOTER -->
	</body>
</html>
